.container {
    -fx-background-color: rgba(255, 255, 255, 0.85);
}


.reset__container{
    -fx-background-color: rgba(50, 93, 71, 0.94);
    /*-fx-background-color: #1B292A;*/

    -fx-background-radius: 30px 0 0 30px;
    -fx-border-radius: 15px;
}


.heading__section{
    -fx-font-size: 30px;
    -fx-fill: white;
}

.description__section{
    /*-fx-font-size: ;*/
    -fx-text-fill: #a0b0a1;
}


.small__heading{
    -fx-font-size: 20px;
    -fx-fill: white;
}
.text-field{
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}



.send__instruction{
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #CCCC99;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.send__instruction:hover{
    -fx-background-color: white;
}

.back__btn{
    -fx-background-color: rgba(50, 93, 71, 0.94);
    /*-fx-text-fill: #CCCC99;*/
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.back__btn:hover{
    -fx-background-color: #009999;
}

.title{
    -fx-font-family: 'Mexon';
    -fx-font-size: 35px;
}

.description__intro{
    -fx-font-size: 20px;
    -fx-text-alignment: center;
    -fx-text-fill: #1E282C;
}

.nocopyright{
    -fx-font-size: 15px;
    -fx-text-fill: #325D47;
    -fx-font-weight: bold;
}
.send__btn{
    -fx-background-radius: 10px;
    -fx-background-color: #325D47;
}
.send__btn:hover{
    -fx-background-color:#CCCC99 ;
}

